body {
  background-color: #dae0e6;
  min-height: calc(100vh - 48px);
  line-height: 1;
  font-family: IBMPlexSans, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.community-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
/* header */
.header {
  position: relative;
  height: 96px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h3 {
  display: block;
  color: #1c1c1c;
  padding-bottom: 6px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 40px;
}

.header p {
  display: block;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
  margin: 0 40px;
}
/* end of header */
/* middle section */
.all-communities,
.all-categories {
  background-color: white;
  margin: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.all-communities {
  width: 40em;
}

.community-header,
.category-header {
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f7f8;
  border-bottom: thin solid #f6f7f8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px;
  top: 48px;
  z-index: 3;
}

.all-communities h3,
.all-categories h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #1c1c1c;
}

.all-communities ol,
.all-categories ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.community {
  text-decoration: none;
  position: relative;
  height: 64px;
  min-width: 407px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: spa;
  border-bottom: 1px solid #edeff1;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.community::before,
.community a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.community--card {
  display: none;
  position: relative;
  min-width: 410px;
  padding: 5px;
  border-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 11px;
  line-height: 16px;
  background-color: white;
  z-index: 1;
}

.community--title:hover + .community--card,
.community--card:hover {
  display: inline-block;
}

.community--img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 24px;
  box-sizing: border-box;
  -ms-flex: none;
  flex: none;
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0 8px;
  width: 32px;
}

.join-btn {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 60px;
  padding: 6px;
  border-radius: 200px;
  border: none;
  color: white;
  background-color: #0079d3;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #3293db;
}

.joined-btn {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 60px;
  padding: 6px;
  border-radius: 200px;
  border: 1px solid #0079d3;
  background-color: white;
  color: #0079d3;
  cursor: pointer;
}

.joined-btn:hover span {
  display: none;
}

.joined-btn:hover:before {
  content: "Leave";
}

/* end of middle section */
.all-categories {
  width: 192px;
}

.category {
  /* for active add psudoelment and uncomment */
  /* font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  background-color: #f6f7f8; */
  background-color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  -ms-flex-align: center;
  align-items: center;
  color: #1c1c1c;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  padding-left: 16px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}

.category:hover {
  background-color: #f6f7f8;
}

.category:focus::before {
  background-color: #0079d3;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 5px;
}

.hover-container {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 380px;
  min-width: 240px;
  position: absolute;
  z-index: 100;
}

.for-padding {
  padding: 12px;
}

.hover-item {
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-title {
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
}
.hover-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #1c1c1c;
  display: -ms-flexbox;
  display: flex;
}

.hover-item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 32px;
  margin-right: 8px;
  width: 32px;
}

.memb-onl {
  display: flex;
  padding: 8px 0;
  width: 100%;
}

.memb {
  flex: 1 0 auto;
  border-right: 1px solid #edeff1;
}
.onl {
  flex: 1 0 auto;
  padding-left: 20px;
}
.memb-onl h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 2px;
  color: #1c1c1c;
}

.memb-onl p {
  font-size: 12px;
  font-weight: 400;
  line-height: 2px;
  color: #7c7c7c;
}

.hover-description {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #1c1c1c;
  overflow-wrap: break-word;
  padding: 8px 0;
  width: 100%;
}

.hover-button {
  position: relative;
  background-color: #0079d3;
  border: none;
  color: #ffffff;
  fill: #ffffff;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  border-radius: 30px;
  width: 90%;
}
